* {
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  background-color: #0e0e0e;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
input {
  color:white
}
.todo-app {
  max-width: 450px;
  height: 100vh;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.create-todo {
  text-align: center;
}
.create-todo fieldset {
  padding: 30px;
  border-radius: 5px;
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset;
  border-color: gray;
  display: flex;
}
legend {
  font-size: 14px;
  color: gray;
}
.create-todo input {
  padding: 5px 10px;
  margin-right: 13px;
  border-radius: 2px;
  background-color: transparent;
  /* outline: unset; */
  border: 1px solid gray;
  display: block;
  width: 75%;
}

::placeholder {
  font-size: 13px;
}
.create-todo button {
  padding: 8px 13px;
  border-radius: 1000px;
  background-color: #ffb711;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  outline: unset;
  border: unset;
}
.create-todo button:hover {
  box-shadow: 1px 1px 10px #ffb711;

}
.actions-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
progress {
  accent-color: #ffb711;
  outline: unset;
  height: 18px;
}
progress + label {
  font-size: 12px;
  margin-left: 10px;
}
.actions-wrapper button {
  background-color: transparent;
  color: green;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  display: block;
}
.actions-wrapper button:first-of-type {
  background-color: transparent;
  color: pink;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-right: 10px;
}
.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-actions.actions {
  gap: 10px;
}
.todos-wrapper {
  margin-top: 20px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.todos {
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
  padding: 15px 15px;
  border-radius: 5px;
  
}
.todos .todo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.todos input {
  accent-color: green;
  width: 20px;
  height: 20px;
}
.todos button {
  background-color: transparent;
  border: none;
}
.save-edit {
  padding: 8px 13px;
  border-radius: 1000px;
  background-color: rgb(47, 255, 64) !important;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}
.edit-container {
  display: flex;
  justify-content:center;
  width: 100%;
}
.edit-inp{
  padding: 5px 10px;
  margin-right: 13px;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid gray;
  display: block;
  width: 60% !important;
  height: 25px !important;

}
.initial {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid gray;
  border-top: unset;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  color: gray;
  gap: 15px;
}
.sd {
  /* min-height: 250px; */
 padding: 0 15px;
  border: 1px solid gray;
  border-top: unset;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  color: gray;
  gap: 15px;
}